---
layout: null
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Link to your custom stylesheet below -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <!-- NAV BAR -->
    <nav id="navbar">
      <ul>
        <li><a href="{{ '/' | absolute_url }}">Home</a></li>
        <li><a href="{{ '/threat-reports/' | absolute_url }}">Threat Reports</a></li>
        <li><a href="{{ '/iocs/' | absolute_url }}">IoCs</a></li>
        <li><a href="{{ '/ctf-labs/' | absolute_url }}">CTF/Labs</a></li>
      </ul>
    </nav>

    <!-- MAIN WRAPPER FOR CENTERED CONTENT -->
    <div id="landing-content">
      {{ content }}
    </div>
  </body>
</html>
